#Archivos y directorios de Maven
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#Archivos de IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

#Archivos de sistema
.DS_Store
Thumbs.db

#Logs
*.log

#Archivos temporales
*.tmp
*.bak
*.swp
*~.nib